@using EcommerceDemoWeb.Controllers
@model IEnumerable<OrderHeader>
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">

        <div class="col-6">
            <h2 class="text-primary">Order List</h2>
        </div>
    </div>
</div>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Orders Id</th>
            <th>Name</th>
            <th>OrderTotal</th>
            <th>OrderDate</th>
            <th>PhoneNumber</th>
            <th>PaymentStatus</th>
            <th>Update/Delete</th>
        </tr>
    </thead>
    <thbody>
        @foreach (var obj in @Model)
        {
            <tr>
                <td width="50%">@obj.Id</td>
                <td width="50%">@obj.Name</td>
                <td width="50%">@obj.OrderTotal</td>
                <td width="50%">@obj.OrderDate</td>
                <td width="50%">@obj.PhoneNumber</td>
                <td width="50%">@obj.PaymentStatus</td>
                <td>
                    <div class="col">
                        <button><a asp-controller="Order" asp-action="Edit" asp-route-id="@obj.Id"><i class="bi bi-pencil-square"></i></a></button>
                 
                        <form method="post" asp-action="DeletePost" asp-route-id="@obj.Id">
                            <button type="submit"><i class="bi bi-trash"></i></button>
                        </form>
                    </div>
                    @*<div class="col">
                        <form method="post" asp-action="DeletePost" asp-route-id="@obj.Id">
                            <button type="submit"><i class="bi bi-trash"></i></button>
                        </form>
                    </div>*@

                </td>
            </tr>
        }
    </thbody>
</table>